<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title><%= video %></title>
    <link href="/style.css" rel="stylesheet">
    <link href="/images/cflick.ico" rel="icon" type="image/x-icon"/>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div class="container">
    <div class="content">
        <video class="player" controls>
            <source src="/videos/<%= video %>.mp4" type="video/mp4">
        </video>
        <div  class="about"></div>
    </div>
    <div class="navbar">
        <button class="dark-mode-toggle" id="dark-mode-toggle">
            <svg viewBox="0 0 496 496" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
                      fill="currentColor"
                      transform="translate(-8 -8)"/>
            </svg>
        </button>
    </div>
    <aside class="side-bar-wrap">
        <nav class="side-bar">
            <div class="logo-area">
                <img alt="C" class="min" src="/images/min-logo.png">
                <img alt="Clipflick" class="max" src="/images/max-logo.png">
            </div>
            <ul>
                <li>
                    <a class="link" href="#" onclick="window.location='../home'">
                            <span class="icon">
                                <img alt="" src="/images/home.png">
                            </span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a class="link" href="#" onclick="window.location='../movies'">
                            <span class="icon">
                                <img alt="" src="/images/film.png">
                            </span>
                        <span class="title">Movies</span>
                    </a>
                </li>
                <li>
                    <a class="link" href="#" onclick="window.location='../shows'">
                            <span class="icon">
                                <img alt="" src="/images/TV.png">
                            </span>
                        <span class="title">Shows</span>
                    </a>
                </li>
                <li class="active">
                    <a class="link" href="#">
                            <span class="icon">
                                <img alt="" src="/images/cartoons.png">
                            </span>
                        <span class="title">Cartoons</span>
                    </a>
                </li>
                <li>
                    <a class="link" href="#" onclick="window.location='../anime'">
                            <span class="icon">
                                <img alt="" src="/images/anime.png">
                            </span>
                        <span class="title">Anime</span>
                    </a>
                </li>
                <li id="profile">
                    <a class="link" href="#" onclick="window.location='../profile'">
                            <span class="icon">
                                <img alt="" src="/images/user.png">
                            </span>
                        <span class="title">Profile</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
</body>
<script src="/script.js"></script>
<script src="/darkmode.js"></script>
</html>