:root {
    --white: #ffffff;
    --background: #fbebff;
    --black: #000000;
    --color-primary: #583866;
    --color-secondary: #ba9ed2;
    --color-third: #2c1c33;
    --gradient-dark: #262626;
}

body {
    margin: 10px;
    background-color: var(--background);
    font-family: "Gill Sans", sans-serif;
    --bar-color: var(--color-primary);
    --theme-switch: var(--black);
    color: var(--white);
    --content-color: var(--color-secondary);
}

.darkmode {
    margin: 10px;
    background: var(--black);
    background: linear-gradient(90deg, var(--black) 0%, var(--color-third) 45%, var(--color-primary) 100%);
    background-color: var(--black);
    font-family: "Gill Sans", sans-serif;
    --bar-color: linear-gradient(90deg, var(--color-primary) 0%, var(--color-third) 55%, #080509 100%);
    --theme-switch: var(--white);
    color: var(--white);
    --content-color: var(--color-third);
}

.dark-mode-toggle {
    position: fixed;
    padding-top: 2px;
    right: 3vh;
    top: 1vh;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 35px;
    height: 70px;
    color: var(--theme-switch);
}

.container {

}

.content {
    position: fixed;
    margin-top: 79px;
    margin-left: 133px;
    top: 1vh;
    left: 1vh;
    bottom: 1vh;
    right: 1vh;
    border-radius: 25px;
    background-color: var(--content-color);
}

/* SideBar */
aside.side-bar-wrap {
    --radius-size: 25px;
    height: 98vh;
    position: fixed;
    top: 1vh;
    left: 1vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: var(--radius-size);
    padding-right: 2px;
}

aside.side-bar-wrap::-webkit-scrollbar {
    width: 3px;
}

aside.side-bar-wrap::-webkit-scrollbar-track {
    background-color: transparent;
}

aside.side-bar-wrap::-webkit-scrollbar-thumb {
    border-radius: var(--radius-size);
    background-color: var(--color-primary);
}

nav.side-bar {
    min-height: 100%;
    background-color: var(--color-primary);
    display: inline-block;
    border-left: var(--radius-size) solid var(--color-secondary);
    border-right: var(--radius-size) solid var(--color-primary);
    border-radius: var(--radius-size);
}

nav.side-bar .logo-area {
    --curve-size: calc(2 * var(--radius-size));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: var(--curve-size);
    background-color: var(--color-secondary);
    border-radius: 0 var(--radius-size) var(--radius-size) 0;
    box-shadow: var(--radius-size) 0 var(--color-secondary);

}

nav.side-bar .logo-area::after {
    content: '';
    width: var(--curve-size);
    height: var(--curve-size);
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    bottom: calc(-1 * var(--curve-size));
    left: 0;
    box-shadow: calc(-1 * var(--curve-size) * 0.5) calc(-1 * var(--curve-size) * 0.5) var(--color-secondary);
}

nav.side-bar .logo-area img {
    position: absolute;
    max-height: 100%;
    max-width: 75%;
    transition-duration: 0.5s;
    z-index: 2;
}

aside.side-bar-wrap:hover nav.side-bar .logo-area img.min {
    max-height: 0;
    opacity: 0;
    z-index: 2;
}

nav.side-bar .logo-area img.max {
    max-width: 0;
    opacity: 0;
    transition-duration: 0.5s;
    z-index: 2;
}

aside.side-bar-wrap:hover nav.side-bar .logo-area img.max {
    max-width: 150%;
    max-height: 150%;
    opacity: 1;
    z-index: 2;
}

nav.side-bar ul {
    padding: 0;
    margin: calc(2 * var(--radius-size)) 0;
    display: flex;
    flex-direction: column;
}

nav.side-bar ul li {
    height: 50px;
    padding: 10px var(--radius-size);
    list-style: none;
    border-radius: var(--radius-size);
    margin-bottom: var(--radius-size);
    z-index: 1;
}

nav.side-bar ul li:not(.active) {
    z-index: 2;
}

nav.side-bar ul li:not(.active):hover {
    backdrop-filter: brightness(0.85);
}

nav.side-bar ul li.active {
    position: relative;
    background-color: var(--color-secondary);
    border-radius: 0 var(--radius-size) var(--radius-size) 0;
}

nav.side-bar ul li.active::before,
nav.side-bar ul li.active::after {
    --curve-size: calc(2 * var(--radius-size));
    content: '';
    width: var(--curve-size);
    height: var(--curve-size);
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
}

nav.side-bar ul li.active::before {
    top: calc(-1 * var(--curve-size));
    left: 0;
    box-shadow: calc(-1 * var(--curve-size) * 0.5) calc(var(--curve-size) * 0.5) var(--color-secondary);
}

nav.side-bar ul li.active::after {
    bottom: calc(-1 * var(--curve-size));
    left: 0;
    box-shadow: calc(-1 * var(--curve-size) * 0.5) calc(-1 * var(--curve-size) * 0.5) var(--color-secondary);
}

nav.side-bar ul li a {
    color: white;
    font-size: 16pt;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
}

aside:hover nav.side-bar ul li a {
    gap: 10px;
}

nav.side-bar ul li a span {
    display: flex;
    transition: 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
}

nav.side-bar ul li a span.icon {
    font-size: 50pt;
}

nav.side-bar ul li a span.title {
    max-width: 0;
    opacity: 0;
}

aside:hover nav.side-bar ul li a span.title {
    width: auto;
    max-width: 10rem;
    opacity: 1;
}

.navbar {
    position: fixed;
    padding-right: 2px;
    margin-left: 133px;
    top: 1vh;
    left: 1vh;
    right: 1vh;
    flex-direction: row;
    height: 70px;
    background: var(--bar-color);
    border-radius: 25px;
}

.disabled {
    pointer-events: none;
}

#profile {
    position: absolute;
    bottom: 25px;
}

/*
.search-bar {
    position: fixed;
    top: 3vh;
    right: 15vh;
    background-color: var(--color-secondary);
    width: 300px;
    height: 30px;
    border-radius: 25px;
    border: var(--color-third);
}

.search-button {
    color: var(--white);
    position: fixed;
    cursor: pointer;
    top: 3vh;
    right: 15vh;
    background-color: var(--color-secondary);
    width: 40px;
    height: 32px;
    border: var(--color-primary);
    border-radius: 25px;
}

 */